#work {
    background-color: #F4F6FC;
    padding: 128px 0;
  }
  #work .work__wrapper {
    display: flex;
    -moz-column-gap: 142px;
         column-gap: 142px;
  }
  #work .work__wrapper .work__heading {
    width: 405px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  #work .work__wrapper .work__heading .work__heading-h2 {
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 64px;
    color: #282938;
    text-transform: capitalize;
  }
  #work .work__wrapper .work__heading .work__heading-p {
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
  }
  #work .work__wrapper .work__heading .work__heading-a {
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 32px;
    color: #2405F2;
  }
  #work .work__wrapper .work__heading .work__heading-a .work__heading-a-i {
    margin-left: 16px;
  }
  #work .work__wrapper .work__main {
    width: 656px;
    margin-right: 77px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
  }
  #work .work__wrapper .work__main .work__item {
    width: 50%;
  }
  #work .work__wrapper .work__main .work__item .work__img {
    width: 50px;
    height: 50px;
    overflow: hidden;
  }
  #work .work__wrapper .work__main .work__item .work__img .work__img-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #work .work__wrapper .work__main .work__item .work__item-h3 {
    margin: 16px 0 8px 0;
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 48px;
    text-transform: capitalize;
    color: #282938;
  }
  #work .work__wrapper .work__main .work__item .work__item-p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    color: #282938;
  }